


<ion-header  no-border padding>
  <ion-toolbar>
    <ion-searchbar placeholder="Recherche..."  (ionInput)="getItems($event)" no-padding  ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content  >
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)"  >
    <ion-refresher-content pullingText="Actualiser"></ion-refresher-content>
  </ion-refresher>
  <ion-grid style="height: 100%" *ngIf="annonces==null || annonces.length==0">
    <ion-row justify-content-center align-items-center text-center  style="height: 75%">
    <h2 >Il n'y a aucune annonce à afficher <br> pour le moment  </h2>
    </ion-row>
  </ion-grid>

  <ion-list  *ngIf="annonces!=null && annonces.length>0" >
    <ion-item *ngFor="let annonce of infiniteAnnonces" (click)="onLoadAd(annonce)">
    <ion-card >
        <ion-item >
          <ion-avatar item-start>
            <img src="../../assets/imgs/image.png">
          </ion-avatar>
          <h3>{{ annonce.utilisateur.prenom }} {{ annonce.utilisateur.nom }}</h3>
        </ion-item>
        <img [src]="annonce.photo" *ngIf="annonce.photo!=null" />
        <ion-card-content>
          <ion-card-title text-capitalize> {{annonce.nom}}</ion-card-title>
          <p text-capitalize>{{annonce.description}}</p>
          <p>{{annonce.prix}}DT</p> 
        </ion-card-content>
      </ion-card >
    </ion-item>
    
  </ion-list>


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
