<!--
  Generated template for the AnnoncePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content >
  
  <ion-card>
    <ion-item >
      <ion-avatar item-start>
        <img src="../../assets/imgs/image.png">
      </ion-avatar>
      <h3>{{ annonce.utilisateur.prenom }} {{ annonce.utilisateur.nom }}</h3>
      <p>Contact : {{ annonce.utilisateur.tel }}</p>
      <ion-fab right top>
        <button ion-button clear  (click)="close()">
          <ion-icon name="md-close"></ion-icon> 
       </button>
      </ion-fab>
   

    </ion-item>
    <img [src]="annonce.photo" *ngIf="annonce.photo!=null" />
    <ion-card-content>
      <ion-card-title text-capitalize> {{annonce.nom}}</ion-card-title>
      <p text-capitalize>{{annonce.description}}</p>
      <p>{{annonce.prix}}DT</p> 
    </ion-card-content>
    <ion-row *ngIf="utilisateur!=null && annonce.utilisateur.id==utilisateur.id">
      <ion-col align-self-start text-start>
        <button ion-button clear color="secondary">
          <ion-icon  ios="ios-create" md="md-create" margin-right></ion-icon> Editer
        </button>
      </ion-col>
      <ion-col align-self-end text-end>
        <button ion-button clear color="danger" (click)="supprimer()">
          <ion-icon ios="ios-trash" md="md-trash" margin-right></ion-icon> Supprimer
        </button>
      </ion-col>
    </ion-row>
  </ion-card >

</ion-content>
