<ion-content >
  <ion-grid style="height: 100%" *ngIf="image==null">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-spinner name="crescent"  ></ion-spinner>
    </ion-row>
  </ion-grid>
 <ion-grid *ngIf="image">
   <ion-row padding>
    <h3>Nouvelle annonce </h3>
   </ion-row>
   <ion-row>
    <ion-card   >
      <img [src]="image" class="article-img"  />
      <ion-card-content>
          <form [formGroup]="adForm">
              <ion-list no-padding>
                <ion-item >
                  <ion-label floating>Nom de l'article</ion-label>
                  <ion-input type="text" required formControlName="nom"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label floating>Prix </ion-label>
                  <ion-input type="number" required formControlName="prix"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label floating>Description </ion-label>
                  <ion-input type="text" required formControlName="description"></ion-input>
                </ion-item>
                <div hidden></div>
              </ion-list>
              <button ion-button round margin-top margin-bottom float-right color="primary" [disabled]="adForm.invalid" (click)="onSubmit()">Confirmer</button>
              <button ion-button round margin-top margin-bottom float-right color="light"  (click)="close()">Annuler</button>
            </form>
      </ion-card-content>
      </ion-card>
              
   </ion-row>
 </ion-grid>
  
  
</ion-content>
