<!--
  Generated template for the ReglagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content  >
  <ion-card  *ngIf="!Authentificated()" >
    <ion-card-header color="primary">
     Connexion
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="userForm">
        <ion-list  no-lines>
          <ion-item >
            <ion-icon color="primary" item-start ios="ios-person" md="md-person"></ion-icon>
            <ion-input type="text"  formControlName="email" placeholder="Login" ></ion-input>
          </ion-item>
          <ion-item  >
            <ion-icon color="primary"  item-start ios="ios-lock" md="md-lock"></ion-icon>
            <ion-input type="password" formControlName="passwd"  placeholder="Mot de passe"></ion-input>
          </ion-item>
       </ion-list>
     
      <button ion-button full  color="primary" [disabled]="userForm.invalid" (click)=" onSubmitSignIn()" color="primary">Se connecter</button>
    
      </form>
    </ion-card-content>
    </ion-card>
    <button ion-button full *ngIf="Authentificated()" (click)="LogOut()">Se deconnecter</button>
</ion-content>
