<ion-content >
  <ion-grid style="height: 100%" *ngIf="annonce==null">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-spinner name="crescent"  ></ion-spinner>
    </ion-row>
  </ion-grid>
 <ion-grid *ngIf="annonce">
   <ion-row padding>
    <h3>{{ annonce.nom }} </h3>
   </ion-row>
   <ion-row>
    <ion-card   >
      <button ion-button round color="light" class="under-img" (click)="openGallery()" > 
        <ion-icon name="photos" margin-right></ion-icon> Changer
      </button>
      <img [src]="image" class="article-img "  />

      <ion-card-content>
          <form [formGroup]="formGroup">
              <ion-list no-padding>
                <ion-item >
                  <ion-label floating>Nom de l'article</ion-label>
                  <ion-input type="text" [value]="annonce.nom" required formControlName="nom"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label floating>Prix </ion-label>
                  <ion-input type="number" [value]="annonce.prix" required formControlName="prix"></ion-input>
                </ion-item>
                <ion-item-divider>Description </ion-item-divider>
                  <div formArrayName="description">
                    <ion-item *ngFor="let control of getDescriptionArray().controls;let i=index">
                      <ion-icon item-start name="remove-circle" color="danger" (click)="onRemoveDescription(i)"></ion-icon>
                      <ion-input [formControlName]="i" placeholder="{{ i+1 }}."></ion-input>
                    </ion-item>
                    <div hidden></div>
                  </div>
                  <ion-item>
                    <ion-icon item-start name="add-circle" color="primary" (click)="onAddDescription()"></ion-icon>
                     Ajouter une description
                  </ion-item>
                 
            
              </ion-list>
              <button ion-button round margin-top margin-bottom float-right color="primary" [disabled]="formGroup.invalid" (click)="onSubmit()">Enregistrer</button>
              <button ion-button round margin-top margin-bottom float-right color="light"  (click)="close()">Annuler</button>
            </form>
      </ion-card-content>
      </ion-card>
              
   </ion-row>
 </ion-grid>
  
  
</ion-content>
